<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= content_tag :div, @welcome_message %>
<%= content_tag :div, @welcome_message, @safe_attr => "foobar" %>
<%= "/users/#{current_user.id}/messages.json".inspect.html_safe %>
<%== @safe_attr %>
<%= @post.title %>
<%= @safe_attr.html_safe %>
<%= raw Sensor::NAMES.map{|n| {val: n, text: t(n, scope: "sensors.categories")} } %>
<!-- xss -->
<%= content_tag :div, @welcome_message, @attr => "foobar" %>
<%== params[:foobar] %>
<%== @attr %>
<%== params[:foobar].html_safe %>
<%= params[:foobar].html_safe %>
<%= @attr.html_safe %>
<%= @post.title.html_safe %>
<%== @post.title %>
<%= raw cookies[:font] %>
