<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= content_tag :div, @welcome_message %>

<%= content_tag :div, @welcome_message, @attr => "foobar" %>
<%= content_tag :div, @welcome_message, @safe_attr => "foobar" %>

<!-- xss -->
<%== params[:foobar] %>
<%== @safe_attr %>
<%== @attr %>


<%== params[:foobar].html_safe %>
<%= params[:foobar].html_safe %>
<%= @attr.html_safe %>
<%= @safe_attr.html_safe %>

<%= @post.title.html_safe %>
<%= @post.title %>
<%== @post.title %>
